wp-config.php
/misc
/wp-content/themes/project-theme/js/hashgrid.js
/wp-content/themes/project-theme/css/hashgrid.css
# /wp-content/themes/project-theme/included
/wp-content/uploads/_wpremote_backups/
/wp-content/w3tc/
/wp-content/backup-db/
.htaccess
sitemap.xml
sitemap.xml.gz
